<!-- Old key line 62 -->
<add key="CaptchaSecret" value="6LfCq4kdAAAAAIvavCyuTYpV2T7R-Ev56Uz9EceL" />

<!-- Captcha lives here: From Free Trial Form.cshtml --> 
<div class="col-12 mt-4">
    <div class="d-flex flex-row no-gutters ">
        <div class="col-12 g-recaptcha" data-sitekey="6LedjYgUAAAAAFFvelFuIjCrh9Yeoutt7LRKOq5e"></div>
    </div>
</div>
