<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    @using tamigo_website.Helpers
    @using tamigo_website.Models.Enums
    @inherits Umbraco.Web.Macros.PartialViewMacroPage
    
    @{
        var useHubspotAsRequestDemoPage = Umbraco.AssignedContentItem.Site().GetPropertyValue<bool>("useHubSpotFormOnRequestDemoPage");
    
    }
    
    @if (MacroHelper.IsVisible(Model.MacroParameters))
    {
        <div class="row no-gutters" id="Demo">
            <div class="col-sm-12 col-xl-6 div-image">
                <div class="padding-top-150 pb-5">
                    <div class="row no-gutters">
                        <div class="offset-xl-2 offset-1 col-xl-8 col-10 title @Model.MacroParameters["color"] mb-5">
                            @Html.Raw(Model.MacroParameters["contactTitle"])
                        </div>
                        <div class="offset-xl-2 offset-1 col-xl-8 col-10 medium-normal-text mt-4  @Model.MacroParameters["color"]">
                            @Html.Raw(Model.MacroParameters["contactSubtitle"])
                        </div>
                        <div class="offset-xl-2 offset-1 col-xl-8 col-10 medium-normal-text mt-5">
                            @Html.Raw(Model.MacroParameters["contactPhone"])
                        </div>
                        <div class="offset-xl-2 offset-1 col-xl-8 col-10 medium-normal-text">
                            @Html.Raw(Model.MacroParameters["contactEmail"])
                        </div>
                    </div>
                </div>
                <div class="mt-5 text-xl-left">
                    <img alt="@Umbraco.Media(Model.MacroParameters["image"]).GetPropertyValue("altText")" alt="@Umbraco.Media(Model.MacroParameters["image"]).GetPropertyValue("altText")" src=@Umbraco.Media(Model.MacroParameters["image"]).Url class="img-fluid w-60" />
                </div>
            </div>
            <div class="col-sm-12 col-xl-6 bg-@Model.MacroParameters["color"] pb-5 pt-5 pt-xl-0">
    
    
    
                @if (useHubspotAsRequestDemoPage)
                {
                    <div class="offset-xl-2 offset-sm-1 col-xl-8 col-sm-10 min-height-100-percent">
                        <div class="row no-gutters padding-top-150">
                            @*<h1 class="col-12 mb-5 title text-white">
    
                                </h1>*@
                            @Html.Raw(@Model.MacroParameters["demoTitle"])
                            <div class="col-12 mt-2 medium-normal-text text-white pb-3">
                                @Html.Raw(@Model.MacroParameters["demoSubtitle"])
                            </div>
    
                            <!--[if lte IE 8]>
                            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
                            <![endif]-->
                            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                            <script>
                                hbspt.forms.create({
                                    region: "na1",
                                    portalId: "7551280",
                                    formId: "092b6992-0eff-43bc-906d-016d207e4ec8",
                                    css: '',
                                    onFormReady: function () {
                                        $('#hsForm_092b6992-0eff-43bc-906d-016d207e4ec8 .hs-button').on('click', function () {
                                            $('.hs-error-msgs').addClass('visible');
                                        });
                                    }
                                });
                            </script>
                        </div>
                    </div>
                }
                else
                {
                    using (Html.BeginUmbracoForm<tamigo_website.Controllers.ContactController>("SendContactForm", FormMethod.Post, new { @id = "DemoForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="ContactFormType" value="@ContactFormType.DemoContactForm" />
                        <input type="hidden" name="ShowCaptcha" value="@Model.MacroParameters["showCaptcha"].ToString()" />
                        <div class="offset-xl-2 offset-sm-1 col-xl-8 col-sm-10 min-height-100-percent">
                            <div class="row no-gutters padding-top-150">
                                <h1 class="col-12 mb-2 title text-white">
                                    @Html.Raw(@Model.MacroParameters["demoTitle"])
                                </h1>
                                <div class="col-12 mt-4 medium-normal-text text-white pb-2">
                                    @Html.Raw(@Model.MacroParameters["demoSubtitle"])
                                </div>
                                <div class="col-12 mt-4">
                                    <input class="input-white big-normal-text placeholder-gray" name="Name" placeholder="@Model.MacroParameters["name"]" value="@(ViewBag.Name)">
                                </div>
                                <div class="col-12 mt-4">
                                    <input class="input-white big-normal-text placeholder-gray" name="Company" placeholder="@Model.MacroParameters["companyName"]" value="@(ViewBag.Company)">
                                </div>
                                <div class="col-12 mt-4">
                                    <input class="input-white big-normal-text placeholder-gray" name="Email" placeholder="@Model.MacroParameters["email"]" value="@(ViewBag.Email)">
                                </div>
                                <div class="col-12 mt-4">
                                    <input class="input-white big-normal-text placeholder-gray" name="Phone" placeholder="@Model.MacroParameters["phone"]" value="@(ViewBag.Phone)">
                                </div>
                                <div class="col-12 mt-4 white">
                                    <div class="d-flex flex-row no-gutters ">
                                        <div class="d-inline-block normal-text">
                                            <i class="fa fa-check-square-o mr-2 pointer demoPolicyApproved" aria-hidden="true" style="display: none;"></i>
                                            <i class="fa fa-stop mr-2 pointer demoPolicyNotApproved" aria-hidden="true"></i>
                                        </div>
                                        <div class="d-inline-block small-normal-text">
                                            @Html.Raw(@Model.MacroParameters["privacy"])
                                        </div>
                                    </div>
                                </div>
                                @if (ViewBag.FormMessage != null)
                                {
                                    <div class="col-12 mt-3 pt-4 pb-4 @Model.MacroParameters["color"] bg-white">
                                        @if (ViewBag.Success != null)
                                        {
    
                                            <div class="pt-1 pl-3 pr-3 big-normal-text bold">
                                                @ViewBag.SuccessMessage
                                            </div>
                                        }
                                        <div class="pl-3 pr-3 pt-2 pb-2 big-normal-text">
                                            @ViewBag.FormMessage
                                        </div>
                                    </div>
                                }
                                @*if (Model.MacroParameters["showCaptcha"].ToString() == "True")
                                    {
                                        <div class="col-12 mt-3 g-recaptcha" data-sitekey="6LedjYgUAAAAAFFvelFuIjCrh9Yeoutt7LRKOq5e"></div>
                                    }*@
                                <div class="col-12 mt-4">
                                    <button class="g-recaptcha z-index-0 btn-tamigo-small btnCreateContact bg-@Model.MacroParameters["btn_bg"] @Model.MacroParameters["btn_color"]" type="submit" disabled id=@Model.MacroParameters["btn_id"]
    
                                                data-sitekey="6LfCq4kdAAAAAOcAgulkp6diCyIyaq5V9QG0DntL" data-callback="onSubmit" data-action="submit"   
                                             
                                            
                                            >
                                        <span class="medium-normal-text">
                                            @Model.MacroParameters["buttonText"]
                                        </span>
                                        <span class="medium-normal-text">
                                            <i class="fa fa-long-arrow-right ml-3" aria-hidden="true"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
    
        </div>
    
        <script>
            function onSubmit(token) {
                document.getElementById("DemoForm").submit();
            }
        </script>
    
        <script>
            $(".demoPolicyApproved").click(function () {
                $(".btnCreateContact").prop("disabled", true);
                $(".demoPolicyNotApproved").show();
                $(this).hide();
            });
    
            $(".demoPolicyNotApproved").click(function () {
                $(".btnCreateContact").prop("disabled", false);
                $(".demoPolicyApproved").show();
                $(this).hide();
            });
    
        </script>
    
    
    
    }

</body>
</html>