@inherits Umbraco.Web.Macros.PartialViewMacroPage

<style>
.headline-container{
    position: relative;
    top: -140px;
    background-color: white;
    border-radius: 6px 6px 0px 0px;
    
}
</style>

<div class="headline-container container-responsive pt-3 pb-5">
    <div class="big-title-unpaded pr-5 pl-5 pt-5 @Model.MacroParameters["titleColor"]">@Html.Raw(Model.MacroParameters["title"])</div>
</div>
