@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "MasterLayout.cshtml";
}
<style>
    .blog-main-header{
        min-height: 300px;
        background-color: #690046;
        margin-bottom: 2rem;
    }
    
</style>
<style>
        .blog-featured-container{
        background-color: #FFFFFF;
        margin: 2rem;
        max-width: 300px;
        border-radius:4px 4px 4px 4px;
        }
      @@media (max-width: 990px) {
        .blog-featured-container {
            max-width: 800px; 
            border-radius:10px 10px 10px 10px; } }
        
</style>
<style>
    .container-responsive {
      width: 100%;
      padding-right: 20px;
      padding-left: 20px;
      margin-right: auto;
      margin-left: auto; }
      @@media (min-width: 576px) {
        .container-responsive {
          max-width: 920px; } }
      @@media (min-width: 768px) {
        .container-responsive {
          max-width: 920px; } }
      @@media (min-width: 992px) {
        .container-responsive {
          max-width: 1140px; } }
      @@media (min-width: 1200px) {
        .container-responsive {
          max-width: 1140px; } }
</style>
    
<style>
    .blog-image{
        max-width: 300px;
        border-radius: 4px 4px 0px 0px;
    }
    @@media (max-width: 990px) {
        .blog-image {
        max-width: 800px;
        border-radius: 10px 10px 0px 0px;
        min-height: 500px; } }
</style>
<style>
    .read-more-link{
        text-align: right;
    }
    
    .flex-container {
        display: flex;
        flex-wrap: wrap;
    }
    
    .nav-ele{
        display:inline;
        color: #646464; 
    }
    
    #pageContent{
         background-color: #F5F5F5;
    }
    

</style>


@Umbraco.RenderMacro("Space", new {color="white", heigth="90"})


<div class="row no-gutters bg-dark-purple  position-relative" id="Text-Image">
    <div class="container-responsive">
        <span class="tile-25 tile-right tile-bottom bg-light-purple"></span>
        <div class="col-lg-6 col-md-11 pt-5 pb-5 ">
            <h1 class="title text-white pt-5 pl-3 pb-5 pr-5">
                <p class="pt-5 pb-5">tamigo blog</p>
            </h1>
        </div>
    </div>
</div>

<div class="container-responsive">
    <div class="flex-container">
        <div id="bl-snip" class="blog-featured-container">
            <img class="blog-image" src="https://www.tamigo.com/media/1781/cph-office-38.jpg" />
            <div class="normal-text pt-3 pr-3 pl-3 pb-3"><strong>An interesting long long long long title for a post</strong></div>
            <div class="small-text pb-3 pr-3 pl-3">This is the start of the long long long long long long long long body copy from a blog post</div>
            <div class="small-text read-more-link pb-3 pr-3"><u><a href="www.tamigo.com" style="color: #646464; text-decoration-line: underline;">Read more</u><i class="fa fa-long-arrow-right pl-2" aria-hidden="true" style="text-decoration-line: none;"></i></a></div>
        </div>
        <div id="bl-snip" class="blog-featured-container">
            <img class="blog-image" src="https://www.tamigo.com/media/1781/cph-office-38.jpg" />
            <div class="normal-text pt-3 pr-3 pl-3 pb-3"><strong>An interesting long long long long title for a post</strong></div>
            <div class="small-text pb-3 pr-3 pl-3">This is the start of the long long long long long long long long body copy from a blog post</div>
            <div class="small-text read-more-link pb-3 pr-3"><u><a href="www.tamigo.com" style="color: #646464; text-decoration-line: underline;">Read more</u><i class="fa fa-long-arrow-right pl-2" aria-hidden="true" style="text-decoration-line: none;"></i></a></div>
        </div>
                <div id="bl-snip" class="blog-featured-container">
            <img class="blog-image" src="https://www.tamigo.com/media/1781/cph-office-38.jpg" />
            <div class="normal-text pt-3 pr-3 pl-3 pb-3"><strong>An interesting long long long long title for a post</strong></div>
            <div class="small-text pb-3 pr-3 pl-3">This is the start of the long long long long long long long long body copy from a blog post</div>
            <div class="small-text read-more-link pb-3 pr-3"><u><a href="www.tamigo.com" style="color: #646464; text-decoration-line: underline;">Read more</u><i class="fa fa-long-arrow-right pl-2" aria-hidden="true" style="text-decoration-line: none;"></i></a></div>
        </div>
        <div id="bl-snip" class="blog-featured-container">
            <img class="blog-image" src="https://www.tamigo.com/media/1781/cph-office-38.jpg" />
            <div class="normal-text pt-3 pr-3 pl-3 pb-3"><strong>An interesting long long long long title for a post</strong></div>
            <div class="small-text pb-3 pr-3 pl-3">This is the start of the long long long long long long long long body copy from a blog post</div>
            <div class="small-text read-more-link pb-3 pr-3"><u><a href="www.tamigo.com" style="color: #646464; text-decoration-line: underline;">Read more</u><i class="fa fa-long-arrow-right pl-2" aria-hidden="true" style="text-decoration-line: none;"></i></a></div>
        </div>
        <div id="bl-snip" class="blog-featured-container">
            <img class="blog-image" src="https://www.tamigo.com/media/1781/cph-office-38.jpg" />
            <div class="normal-text pt-3 pr-3 pl-3 pb-3"><strong>An interesting long long long long title for a post</strong></div>
            <div class="small-text pb-3 pr-3 pl-3">This is the start of the long long long long long long long long body copy from a blog post</div>
            <div class="small-text read-more-link pb-3 pr-3"><u><a href="www.tamigo.com" style="color: #646464; text-decoration-line: underline;">Read more</u><i class="fa fa-long-arrow-right pl-2" aria-hidden="true" style="text-decoration-line: none;"></i></a></div>
        </div>
        <div id="bl-snip" class="blog-featured-container">
            <img class="blog-image" src="https://www.tamigo.com/media/1781/cph-office-38.jpg" />
            <div class="normal-text pt-3 pr-3 pl-3 pb-3"><strong>An interesting long long long long title for a post</strong></div>
            <div class="small-text pb-3 pr-3 pl-3">This is the start of the long long long long long long long long body copy from a blog post</div>
            <div class="small-text read-more-link pb-3 pr-3"><u><a href="www.tamigo.com" style="color: #646464; text-decoration-line: underline;">Read more</u><i class="fa fa-long-arrow-right pl-2" aria-hidden="true" style="text-decoration-line: none;"></i></a></div>
        </div>
        <div id="bl-snip" class="blog-featured-container">
            <img class="blog-image" src="https://www.tamigo.com/media/1781/cph-office-38.jpg" />
            <div class="normal-text pt-3 pr-3 pl-3 pb-3"><strong>An interesting long long long long title for a post</strong></div>
            <div class="small-text pb-3 pr-3 pl-3">This is the start of the long long long long long long long long body copy from a blog post</div>
            <div class="small-text read-more-link pb-3 pr-3"><u><a href="www.tamigo.com" style="color: #646464; text-decoration-line: underline;">Read more</u><i class="fa fa-long-arrow-right pl-2" aria-hidden="true" style="text-decoration-line: none;"></i></a></div>
        </div>
        <!--
        <div id="bl-snip" class="blog-featured-container"></div>
        -->
    </div>
    <div class="pb-5"></div>
    <center>
        <div class="blog-pagenavigation" style="display:inline;">
            <div class="medium-text nav-ele">Page: </div>
            <a class="nav-ele" href="https://blog.tamigo.com/page/1"><div class="medium-text nav-ele">1 </div></a>
    		<a class="nav-ele" href="https://blog.tamigo.com/page/2"><div class="medium-text nav-ele">2 </div></a>
    		<a class="nav-ele" href="https://blog.tamigo.com/page/3"><div class="medium-text nav-ele">3 </div></a>
        </div>
    </center>
    
<div class="pb-5"></div>
<div class="pb-4"></div>

</div>

<!-- 
<div class="blog-main-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="title white" style="padding-top: 18%; padding-bottom: 10%; margin-left: 2rem;" >tamigo blog</div>
            </div>
            <div class="col-sm-4">
                <div class="first-square" style="min-height:150px"></div>
                <NOBR>
                    <div class="second-square" style="height: 150px; background-color: #B44677; min-width:505px"></div>
                </NOBR>
            </div>
        </div>
    </div>
</div>
-->

<!--
    .less-purple-square{
        position:relative;
         right:0; 
         bottom:0;
         background-color: purple;
         height: 100px;
         width: 150px;
    }
-->

<script>
    //var imgUrl = "https://www.tamigo.com/media/1781/cph-office-38.jpg"; 
    var title = "test";
    //document.getElementById("bl-snip").innerHTML = title;
    //document.getElementsByClassName("bl-snip").innerHTML = title;
    
    /* This works: Need to target specific attributes not inner HTML
    const collection = document.getElementsByClassName("blog-featured-container");
        for (let i = 0; i < collection.length; i++) {
          collection[i].innerHTML = title;
    }
    */
    /*
    const collectionOfImg = document.getElementsByClassName("blog-image");
        for (let i = 0; i < collectionOfImg.length; i++) {
          collectionOfImg[i].src = "https://www.tamigo.com/media/1781/cph-office-38.jpg";
    }
    */

</script>

