@inherits Umbraco.Web.Macros.PartialViewMacroPage

<style>

</style>

<div class="container-responsive pr-5 pl-5"  style="position: relative; top:-150px;">
    <div class="blog-element">
        <a class="anchor-plain btn btn-tamigo pt-3 pb-3 bg-@Model.MacroParameters["buttonColor"] @Model.MacroParameters["buttonTextColor"]" href="@Model.MacroParameters["buttonLink"]" id="btnFrontpageEnterprise"><span class="big-text">@Model.MacroParameters["buttonText"]<i class="fa fa-long-arrow-right ml-3" aria-hidden="true"></i></span></a>
    </div>
</div>