@inherits Umbraco.Web.Macros.PartialViewMacroPage

<style>
    .col-lg{
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .blog-card-container{
        margin: 1rem !important;
    }
    
    .blog-image-related{
        object-fit: cover;
        height: 450px;
        overflow: hidden;
    }
    
    .related-articles{
        margin:0% 7% 0% 7%;
    }
    @@media (max-width: 990px) {
        .related-articles{
            margin:0% 0% 0% 0%;
        }
    }
    
</style>

<div class="background-color-container bg-@Model.MacroParameters["backgroundColor"]" style="background-color:@Model.MacroParameters["customBackgroundColor"];">
    <div class="pr-5 pl-5 related-articles">
        <center>
            <div class="title pt-5 pb-4 @Model.MacroParameters["titleColor"]">@Umbraco.GetDictionaryValue("Related articles headline")</div>
        </center>
        <div class="row pb-5 d-@Model.MacroParameters["visible"]" style="justify-content: center;">
        
            <!-- Related articles cards renders here -->
            @Umbraco.Field("relatedArticlesCarousel")
            
        </div>
    </div>
</div>