@inherits Umbraco.Web.Macros.PartialViewMacroPage

<!-- style="background-color: Model.MacroParameters["backgroundColor"]" -->

<div class="flex-container checkmark-row" style="background-color: @Model.MacroParameters["backgroundColor"]">
              <div class="col-sm-3" style="">
                <div class="title-of-row-acc" style="position: absolute; top: 50%; transform: translateY(-50%);">@Model.MacroParameters["titleOfRow"]</div>
              </div>
              <div class="col-sm-2 img-in-div">
                    <img class="checkmark filter-js d-@Model.MacroParameters["visibleCheck1"]" src="https://www.tamigo.nl/media/2693/tick.svg" />
              </div>
              <div class="col-sm-2 img-in-div">
                    <img class="checkmark filter-js2 d-@Model.MacroParameters["visibleCheck2"]" src="https://www.tamigo.nl/media/2693/tick.svg" />
              </div>
              <div class="col-sm-2 img-in-div">
                    <img class="checkmark filter-js3 d-@Model.MacroParameters["visibleCheck3"]" src="https://www.tamigo.nl/media/2693/tick.svg" />
             </div>
              <div class="col-sm-2 img-in-div">
                    <img class="checkmark filter-js4 d-@Model.MacroParameters["visibleCheck4"]" src="https://www.tamigo.nl/media/2693/tick.svg" />
              </div>
</div>

<!-- Media --> 
<!-- src=Umbraco.Media(Model.MacroParameters["mediaPickerTest"]).Url -->

<!-- Values --> 
<!-- Html.Raw(Model.MacroParameters["demoTitle"]) -->
<!-- Model.MacroParameters["buttonText"] --> 