@inherits Umbraco.Web.Macros.PartialViewMacroPage

<!--
<style>
.mini-icon-responsive {
    }
  media (min-width: 576px) {
    .mini-icon-responsive {
     display:none;
       } }
  media (min-width: 768px) {
    .mini-icon-responsive {
     display:none;
       } }
  media (min-width: 992px) {
    .mini-icon-responsive {
    display:flex;
      } }
  media (min-width: 1200px) {
    .mini-icon-responsive {
    display:flex; 
}}
</style>
-->

<div class="backgroundcolorcontainer text-image-simple-container pt-5 pb-5 bg-@Model.MacroParameters["backgroundColor"] d-@Model.MacroParameters["visible"]">
    <div class="container-responsive flex-column-reverse">
        <div class="row">
            <div class="col-lg pb-3" style="margin:auto;">
                <center>
                    <img src=@Umbraco.Media(Model.MacroParameters["image"]).Url class="img-fluid pr-5 mb-4"></img>
                </center>
            </div>
            <div class="col-lg" style="margin:auto;">
                <!-- <img src=Umbraco.Media(Model.MacroParameters["icon"]).Url class="mb-2 mini-icon-responsive" style="max-height:60px;"></img>-->
                <div class="big-normal-text @Model.MacroParameters["titleColor"]" style="padding-bottom: 10px;">
                    @Html.Raw(Model.MacroParameters["title"]) 
                </div>
                <div class="normal-text @Model.MacroParameters["bodyColor"]">
                    @Html.Raw(Model.MacroParameters["subtitle"])
                </div>
            </div>
        </div>
    </div>
</div>

<script>
if (document.getElementsByClassName('text-image-simple-container')[0].classList.contains("d-False")){
    $(".text-image-simple-container").css("display","none");
}

    
</script>
