@inherits Umbraco.Web.Macros.PartialViewMacroPage

<style>

.container-text-image-simple {
  width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 100px;
    margin-right: auto;
    margin-left: auto; 
}@@media (max-width: 990px) {
    .container-text-image-simple {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
} }
</style>


<style>
/*Text styling*/
    .ti-title{
        font-size: 2rem ;
        padding-left: 3rem;
    }
    @@media (max-width: 990px) {
        .ti-title {
        font-size: 3.8rem;
    } }
    
    .ti-body{
        font-size: 1.4rem ;
        padding-left: 3rem;
    }
    @@media (max-width: 990px) {
        .ti-body {
        font-size: 2.5rem;
        padding-right: 50px;
    } }
</style>

<style>
    .img-pad{
        padding-right: 0px;
    }
    @@media (max-width: 990px) {
        .img-pad {
        padding-right: 0px;
        object-fit: cover;
        width: 100%;
        height: 100%;
    } }
    
    .img-pad-container{
        padding-left: 0px;
        padding-right: 0px;
    }@@media (max-width: 990px) {
        .img-pad-container{
        padding-left: 30px;
        padding-right: 30px;
    } }
    
</style>
    


<div class="backgroundcolorcontainer text-image-simple-container bg-@Model.MacroParameters["backgroundColor"] d-@Model.MacroParameters["visible"]">
    <div class="container-text-image-simple flex-column-reverse">
        <div class="row">
            <div class="col-lg pb-3 img-pad-container" style="margin:auto;">
                <center>
                    <img src=@Umbraco.Media(Model.MacroParameters["image"]).Url class="img-fluid img-pad"></img>
                </center>
            </div>
            <div class="col-lg" style="margin:auto;">
                <div class="ti-title @Model.MacroParameters["titleColor"]" style="padding-bottom: 10px;">
                    @Html.Raw(Model.MacroParameters["title"]) 
                </div>
                <div class="ti-body @Model.MacroParameters["bodyColor"]">
                    @Html.Raw(Model.MacroParameters["subtitle"])
                </div>
            </div>
        </div>
    </div>
</div>

<script>
if (document.getElementsByClassName('text-image-simple-container')[0].classList.contains("d-False")){
    $(".text-image-simple-container").css("display","none");
}
</script>
